@media (max-width: 992px) {
    .info-text {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .buttons {
        padding: 2em 10em 2em 2em;
    }

    .buy-button {
        margin-top: 5px;
    }
}


@media (min-width: 992px) {

    .buttons {
        padding: 2em;
    }

    .buy-button {
        margin-top: 5px;
    }

    .one-buy-button {
        padding-right: 2em;
        margin-bottom: 1em;
    }

    .buy-house-span {
        margin-right: 1em;
    }

    .house {
        margin-right: 0.2em;
    }

    .info-text {

    }
}

.info-text {
    padding-top: 1em;
    background-color: white;
}

#info-text-div {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#info-text-div .letter {
    display: inline-block;
    line-height: 1em
}

.buttons {
    background-color: white;
}

#main-body {
    background-color: lightgray;
}

.main-header {
    background-color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0.5em;
    min-height: 8em;
}

#main-header-current-player {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

